<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <queries>
        <intent>
            <action android:name="android.intent.action.MAIN" />
            <category android:name="android.intent.category.LAUNCHER" />
        </intent>

        <intent>
            <action android:name="android.intent.action.VIEW" />
            <category android:name="android.intent.category.DEFAULT" />
        </intent>
    </queries>
    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_atmini"
        android:label="@string/app_name"
        android:banner="@color/ic_atmini_background"
        android:roundIcon="@mipmap/ic_atmini_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Atmini">
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.Atmini">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <service
            android:name=".AtminiVoiceService"
            android:permission="android.permission.BIND_VOICE_INTERACTION"
            android:exported="true">

            <intent-filter>
                <action android:name="android.service.voice.VoiceInteractionService" />
            </intent-filter>

        </service>
    </application>

</manifest>